body {
  background: #182028;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 9vmin;
  color: #8bf;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}
/* Typewriter effect 1 */
@keyframes typing {
  0%,
  30% {
    content: "";
  }
  2%,
  29% {
    content: "I";
  }
  4%,
  28% {
    content: "Id";
  }
  6%,
  27% {
    content: "Ide";
  }
  8%,
  26% {
    content: "Idea";
  }
  10%,
  25% {
    content: "Idea!";
  }

  31%,
  73% {
    content: "";
  }
  33%,
  72% {
    content: "S";
  }
  35%,
  71% {
    content: "So";
  }
  37%,
  70% {
    content: "Sol";
  }
  39%,
  69% {
    content: "Solu";
  }
  41%,
  68% {
    content: "Solut";
  }
  43%,
  67% {
    content: "Soluti";
  }
  45%,
  66% {
    content: "Solutio";
  }
  47%,
  65% {
    content: "Solution";
  }
  49%,
  64% {
    content: "Solution!";
  }

  74%,
  100% {
    content: "";
  }
  76%,
  99% {
    content: "D";
  }
  78%,
  98% {
    content: "De";
  }
  80%,
  97% {
    content: "Dev";
  }
  82%,
  96% {
    content: "Deve";
  }
  84%,
  95% {
    content: "Devel";
  }
  86%,
  94% {
    content: "Develo";
  }
  88%,
  93% {
    content: "Develop";
  }

 
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 0.7ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

